[Desktop Entry]
Encoding=UTF-8
Name=Valinorcoin
Comment=Valinorcoin P2P Cryptocurrency
Comment[fr]=Valinorcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Valinorcoin, eşten eşe kriptografik sanal para birimi
Exec=valinorcoin-qt %u
Terminal=false
Type=Application
Icon=valinorcoin128
MimeType=x-scheme-handler/valinorcoin;
Categories=Office;Finance;
