[Unit]
Description=ValinorCoin's distributed currency daemon
After=network.target

[Service]
User=valinorcoin
Group=valinorcoin

Type=forking
PIDFile=/var/lib/valinorcoind/valinorcoind.pid

ExecStart=/usr/bin/valinorcoind -daemon -pid=/var/lib/valinorcoind/valinorcoind.pid \
          -conf=/etc/valinorcoin/valinorcoin.conf -datadir=/var/lib/valinorcoind

ExecStop=-/usr/bin/valinorcoin-cli -conf=/etc/valinorcoin/valinorcoin.conf \
         -datadir=/var/lib/valinorcoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
